{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Knowledge Pool - Contact{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Contact Us</h1>
</div>
<div>
  <h1 style="text-align:center;border-bottom: 1px solid black">Knowledge Pool</h1>

<h2><br>About</h2>
<p>
The Internet has risen as fastest, affordable, convenient and reliable source of information transfer and communication over the past few years. An Internet-based web portal has emerged an essential role in information distribution among people because of the convenience and faster reach. The Knowledge Pool is an online web platform where both students and teachers can interact with each other outside the classrooms to share educational and academic information. They can post links to related videos, lectures, .PDF, .PPT etc files through their respective login accounts. The users can post their queries for help and share their opinions about any particular post.Knowledge Pool primarily focuses on narrowing the communication gap between teachers and students to improve education quality.
</p>



<h2>Features</h2>
<ul>
<li><b>Main Web Application</b></li>Knowledge pool basically targets to reduce the gap between teacher and student interaction outside the classrom with the help of of an online web application.
<li><b>Summarization</b></li>Unlike other web applications like twitter, facebook which shows you the whole post conatining a bunch of useless lines ,, this web application shows you the abstract content of the posts of the ones whom you follow.
<li><b>Email and Sms</b></li>
This application is embeeded with the feature of direct mailing and texting to the active users.
<li><b>File Uploads</b></li>
Any user can upload/download any file that is on the server according to access level provided by the admin.
<li><b>Media Library</b></li>
Any user can upload file in a variety of formats like .pdf, any media file, .ppt, .doc and many more.
<li><b>Bookmarks</b></li>
Teachers can upload their research papers, their works of intrest , their publications etc.
<li><b>Chat Application</b></li>
Student can get in touch with the teacher with the help of chat feature that is embeeded in the application
</ul>

<fieldset>
<legend><b>Developers</b></legend>
Ruchi Tanwar
<br>+91-9911888688<br>
ruchitanwar271@gmail.com<br><br>
Neha Goel  <br>
+91-9818599092<br>
goel.neha135@gmail.com


</fieldset>

    <br><br>
</div>
{% endblock %}
